name: Upload to Azure Storage

on:
  push:
    branches: [ "main" ]

permissions: 
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Get Secret from Key Vault
        uses: Azure/get-keyvault-secrets@v1
        with:
          keyvault: "Blob-Storage-Credentials"
          secrets: "StorageKey"
        id: kvAction

      - name: Upload to Blob Storage
        uses: azure/CLI@v2
        with:
          inlineScript: |
            az storage blob upload-batch \
              --account-name "git1storage" \
              --account-key "${{ steps.kvAction.outputs.StorageKey }}"
              --destination "$logs" \
              --source "./code.java"
